# HTTP assíncrono
aiohttp==3.10.5
async-timeout==4.0.3

# Google API Client + Auth
google-api-python-client==2.134.0
google-auth==2.35.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1

# Dependências auxiliares do Google client
httplib2==0.22.0
uritemplate==4.1.1
requests==2.32.3
psycopg==3.3.3
psycopg-binary==3.3.3

# Retry
tenacity==9.0.0

# Encoding/compatibilidade
chardet==5.2.0
idna==3.8
